* {
  box-sizing: border-box;
  outline: none;
}

#get_award {
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  background: rgb(90, 154, 214);
  position: fixed;
  right: 0;
  bottom: 0;
}
